.photo-grid{
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    max-width: 1184px;
    padding: 0 48px 92px 48px;
    -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr;
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 1fr 16px 1fr 16px 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    grid-auto-rows: auto;
}.photo-grid > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}.photo-grid > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}.photo-grid > *:nth-child(3){
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}.photo-grid > *:nth-child(4){
    -ms-grid-row: 1;
    -ms-grid-column: 7;
}.photo-grid > *:nth-child(5){
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}.photo-grid > *:nth-child(6){
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}.photo-grid > *:nth-child(7){
    -ms-grid-row: 3;
    -ms-grid-column: 5;
}.photo-grid > *:nth-child(8){
    -ms-grid-row: 3;
    -ms-grid-column: 7;
}.photo-grid > *:nth-child(9){
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}.photo-grid > *:nth-child(10){
    -ms-grid-row: 5;
    -ms-grid-column: 3;
}.photo-grid > *:nth-child(11){
    -ms-grid-row: 5;
    -ms-grid-column: 5;
}.photo-grid > *:nth-child(12){
    -ms-grid-row: 5;
    -ms-grid-column: 7;
}

@media screen and (max-width: 1279px) {
    .photo-grid {
        max-width: 928px;
        gap: 14px;
        -ms-grid-columns: 1fr 14px 1fr 14px 1fr;
        grid-template-columns: repeat(3, 1fr);
        -ms-grid-rows: 1fr 14px 1fr 14px 1fr 14px 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    .photo-grid > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    .photo-grid > *:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
    }
    .photo-grid > *:nth-child(4) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(5) {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }
    .photo-grid > *:nth-child(6) {
        -ms-grid-row: 3;
        -ms-grid-column: 5;
    }
    .photo-grid > *:nth-child(7) {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(8) {
        -ms-grid-row: 5;
        -ms-grid-column: 3;
    }
    .photo-grid > *:nth-child(9) {
        -ms-grid-row: 5;
        -ms-grid-column: 5;
    }
    .photo-grid > *:nth-child(10) {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(11) {
        -ms-grid-row: 7;
        -ms-grid-column: 3;
    }
    .photo-grid > *:nth-child(12) {
        -ms-grid-row: 7;
        -ms-grid-column: 5;
    }
}
  
@media screen and (max-width: 1023px) {
    .photo-grid {
        padding: 0 24px 88px 24px;
        max-width: 720px;
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    }
    .photo-grid > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    .photo-grid > *:nth-child(3) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
    .photo-grid > *:nth-child(5) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(6) {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
    }
    .photo-grid > *:nth-child(7) {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(8) {
        -ms-grid-row: 4;
        -ms-grid-column: 2;
    }
    .photo-grid > *:nth-child(9) {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(10) {
        -ms-grid-row: 5;
        -ms-grid-column: 2;
    }
    .photo-grid > *:nth-child(11) {
        -ms-grid-row: 6;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(12) {
        -ms-grid-row: 6;
        -ms-grid-column: 2;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        padding: 0 16px 64px 16px;
        max-width: 288px;
        gap: 12px;
        -ms-grid-columns: 1fr;
        grid-template-columns: repeat(1, 1fr);
        -ms-grid-rows: 1fr 12px 1fr 12px 1fr 12px 1fr 12px 1fr 12px 1fr 12px 1fr 12px 1fr 12px 1fr 12px 1fr 12px 1fr 12px 1fr;
        grid-template-rows: repeat(12, 1fr);
    }
    .photo-grid > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(2) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(3) {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(4) {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(5) {
        -ms-grid-row: 9;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(6) {
        -ms-grid-row: 11;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(7) {
        -ms-grid-row: 13;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(8) {
        -ms-grid-row: 15;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(9) {
        -ms-grid-row: 17;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(10) {
        -ms-grid-row: 19;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(11) {
        -ms-grid-row: 21;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(12) {
        -ms-grid-row: 23;
        -ms-grid-column: 1;
    }
}

