.photo-grid {
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    max-width: 1184px;
    padding: 0 48px 92px 48px;
    -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr;
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    gap: 16px;
    grid-auto-rows: auto;
}
.photo-grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.photo-grid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}
.photo-grid > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}
.photo-grid > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
}

@media screen and (max-width: 1279px) {
    .photo-grid {
        max-width: 928px;
        gap: 14px;
        -ms-grid-columns: 1fr 14px 1fr 14px 1fr;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid {
        padding: 0 24px 88px 24px;
        max-width: 720px;
        gap: 14px;
        -ms-grid-columns: 1fr 14px 1fr;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        padding: 0 16px 64px 16px;
        max-width: 288px;
        gap: 12px;
        -ms-grid-columns: 1fr;
        grid-template-columns: repeat(1, 1fr);
    }
}