.cover__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    color: #ffffff;
    z-index: 3;
    margin: 0;
    max-width: 360px;
    padding: 0 412px 245px 412px;
}

@media screen and (max-width: 1279px) {
    .cover__subtitle {
        padding: 0 332px 195px 332px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__subtitle {
        padding: 0 204px 115px 204px;
    }
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        padding: 0 16px 33px 16px;
        font-size: 14px;
        line-height: 1.14;
        max-width: 288px;
    }
}
