.header__logo{
    min-height: 52px;
    width: 100%;
    max-width: 176px;
    background-image: url("../../../images/header-logo.svg");
    background-repeat:no-repeat;
    z-index:1;
}

@media screen and (max-width: 767px) {
    .header__logo {
        min-height: 42px;
        max-width: 142px;
        background-size: contain;
    }
}
