.place__paragraphs{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 484px;
    gap:26px;
    margin: 0;
    padding: 0;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}


@media screen and (max-width: 1279px) {
    .place__paragraphs {
        max-width: 456px;
    }
}
  
@media screen and (max-width: 1023px) {
    .place__paragraphs {
        max-width: 352px;
        gap:25px;
    }
}

@media screen and (max-width: 767px) {
    .place__paragraphs {
        max-width: 288px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}  