.cover{
    max-width: 1184px;
    min-height: 740px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../images/cover-trains.jpg');
    background-position: center;
}
