.place__link {
    margin: 0;
    color: #ffffff;
    z-index: 2;
    max-width: 456px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    -webkit-transition: opacity 0.3s linear 0.3s;
    -o-transition: opacity 0.3s linear 0.3s;
    transition: opacity 0.3s linear 0.3s;
}

.place__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1023px) {
    .place__link {
        max-width: 352px;
    }
}

@media screen and (max-width: 767px) {
    .place__link {
        max-width: 288px;
    }
}