/*.cover__overlay{
    max-height: 740px;
    max-width: 1184px;
    width: 100%;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index:2;
    -webkit-transition: opacity .3s linear .3s;
    -o-transition: opacity .3s linear .3s;
    transition: opacity .3s linear .3s;
    margin: 0;
}

.cover__overlay:hover{
    opacity: 0.3;
}*/