.cover__background {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(42, 44, 47, 0.3)), to(rgba(42, 44, 47, 0.3))), url("../../../images/cover-trains.jpg");
    background-image: -o-linear-gradient(bottom, rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)), url("../../../images/cover-trains.jpg");
    background-image: linear-gradient(0deg, rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)), url("../../../images/cover-trains.jpg");
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 1184px;
    min-height: 740px;
    color: #ffffff;
    text-decoration: none;
    padding: 0;
    margin: 0;
    -webkit-transition: opacity 0.3s linear 0.3s;
    -o-transition: opacity 0.3s linear 0.3s;
    transition: opacity 0.3s linear 0.3s;
}

.cover__background:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(42, 44, 47, 0.8)), to(rgba(42, 44, 47, 0.8))), url("../../../images/cover-trains.jpg");
    background-image: -o-linear-gradient(bottom, rgba(42, 44, 47, 0.8), rgba(42, 44, 47, 0.8)), url("../../../images/cover-trains.jpg");
    background-image: linear-gradient(0deg, rgba(42, 44, 47, 0.8), rgba(42, 44, 47, 0.8)), url("../../../images/cover-trains.jpg");
}

@media screen and (max-width: 1279px) {
    .cover__background {
        max-width: 1024px;
        min-height: 640px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__background {
        max-width: 768px;
        min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover__background {
        max-width: 320px;
        min-height: 200px;
    }
}
