.footer{
    max-width: 1184px;
    margin: 0 auto;
    padding: 92px 48px 24px 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}


@media screen and (max-width: 1279px) {
    .footer {
        max-width: 928px;
    }
}
  
@media screen and (max-width: 1023px) {
    .footer {
        max-width: 720px;
        padding: 90px 24px 22px 24px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        max-width: 186px;
        padding: 64px 118px 24px 16px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 48px;
    }
}