.intro__title {
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
    color: #ffffff;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    margin: 0;
    z-index: 2;
    max-width: 690px;
    padding-bottom: 40px;
}

@media screen and (max-width: 1023px) {
    .intro__title {
        max-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .intro__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 1.09;
    }
}